@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Teachers", sans-serif;
  
}

.categoryNavbarLinks {
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid black;
}
.categoryNavbarLinks :hover{

  background: #72f2c7;
}