@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Teachers", sans-serif;
  
}

ul li{
  padding-top: 3px;
}
ul li:hover{
 text-decoration: underline;
 
}
li{
  margin-top: 2px;
  margin-bottom: 2px;
}

